{% block content %}
    <h2>Stock Symbols</h2>
    <div class="w-100 h-75">{% include 'components/favoriteList.html.jinja' %}</div>
    <div class="w-100">{% include 'components/stock_value_list/stockValueListSelection.html.jinja' %}</div>
{% endblock %}