.market-background {
  position: absolute;
}

.main-homepage-container {
  height: 90vh;
}

.side-left {
  background: gray;
  opacity: 50%;
  color: lawngreen;
}

.homepage-layer {
  z-index: 10;
}

.side-right {
  
}