.bar-infinite-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.15);
}

.bar-infinite-loader::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: -50%;
    background: linear-gradient(90deg, #4db6ac, #80deea);
    animation: barSlide 1.5s linear infinite;
}

@keyframes barSlide {
    0% {
        left: -50%;
    }

    50% {
        left: 25%;
    }

    100% {
        left: 100%;
    }
}