<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A demo site featuring an ajax-based stock widget that uses Python and Flask as a backend microservice API">
    <meta name="author" content="Shane Larson">

    <title>Python and Flask based Stock Widget - Grizzly Peak Software</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ vite_asset('css/site.css') }}">
  </head>

  <body class="text-center">
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col"></div>
        <div class="col-xl-6">
          {% include 'components/mainDashBoard.html' %}
        </div>
        <div class="col align-self-center"></div>
      </div>

      <div class="row flex-xl-nowrap" style="height: 400px;">
        <div class="col">
          {% include 'components/analysis_dashboard/analyseDashboard.html' %}
        </div>
        <div class="col-xl-6">
          <div id="chart_container"></div>
        </div>
        <div class="col align-self-center" style="height: inherit;">
          <div class="row h-100">
            <p class="w-100">Stock Symbols</p>
            <div class="w-100 h-75">{% include 'components/selectWithButtonInside.html' %}</div>
            <div class="w-100">{% include 'components/stock_value_list/stockValueListSelection.html' %}</div>
          </div>
        </div>
      </div>

      <div class="row flex-xl-nowrap">
        <div class="col"></div>
        <div class="col-xl-6">
          {% include 'components/dataTools.html' %}
        </div>
        <div class="col align-self-center" style="height: inherit;"></div>
      </div>
    </div>

    <script type="module" src="{{ vite_asset('@vite/client') }}"></script>

    <script type="module" src="{{ vite_asset('js/site.js') }}"></script>
  </body>
</html>
