<link rel="stylesheet" href="{{ vite_asset('css/components/dataTools.css') }}">

<button id="linearRegression-btn" class="two-state-button inactive">
    ↓
</button>
<button id="realtime-btn" class="two-state-button inactive">
    Real Time
</button>
<button id="last5D-btn" class="two-state-button inactive">
    5d
</button>
<button id="last15D-btn" class="two-state-button inactive">
    15d
</button>
<button id="last3M-btn" class="two-state-button inactive">
    3m
</button>
<button id="last6M-btn" class="two-state-button inactive">
    6m
</button>