<link href="{{ url_for('static',    filename='css/' + self._TemplateReference__context.name[:-4] + 'css') }}" rel="stylesheet">

<div id=symbolSelect class="cpnt-select-with-button">
    {% for option in options %}
        <option onclick=swbi.cpnt_swbi_on_click(this) value={{ option[1] }} >
            {{ option[0] }}
            <button onclick="swbi.cpnt_swbi_delete(this); event.stopPropagation();" class="delete-button">
                x
            </button>
            <button onclick="swbi.cpnt_swbi_add_to_favorite(this); event.stopPropagation();" class="favorite-button">
                ♥
            </button>
        </option>
    {% endfor %}
</div>