{% block head %}
  {{ include_module_style("slidePanel") }}
{% endblock %}
<div class="slide-panel {{ panel_class|default('') }}" data-collapsed="{{ collapsed|string|lower }}">
  <div class="slide-panel__tab">
    <span class="arrow"></span>
  </div>
  <div class="slide-panel__main">
    <div class="slide-panel__content">
      {% include content_template %}
    </div>
  </div>
</div>
